# 0.0. Imports

In [7]:
!pip install umap-learn -q

In [8]:
!python3 -c "import umap.umap_ as umap; print('umap SDK version: {}'.format(umap.__version__))"

Traceback (most recent call last):
  File "<string>", line 1, in <module>
AttributeError: module 'umap.umap_' has no attribute '__version__'

In [9]:
# !pip freeze

In [10]:
import pandas as pd
import numpy as np
from typing import Tuple
from functools import reduce

from google.cloud import bigquery

import umap.umap_ as umap
from sklearn.preprocessing import MinMaxScaler
from sklearn.manifold import TSNE
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
from sklearn.mixture import GaussianMixture
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import silhouette_score

# 1.0. Loading data

In [11]:
%%bigquery df_raw

SELECT * FROM `vertex-comunidadeds.dados_ecommerce_cds.interm`
WHERE InvoiceDate <= "2023-05-15"

Query is running:   0%|          |

Downloading:   0%|          |

In [12]:
df_raw.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,C581229,85099B,JUMBO BAG RED RETROSPOT,-10,2017-12-06,2.08,12558.0,USA
1,C581229,84828,JUNGLE POPSICLES ICE LOLLY MOULDS,-24,2017-12-06,1.25,12558.0,USA
2,C581229,79191C,RETRO PLASTIC ELEPHANT TRAY,-24,2017-12-06,0.85,12558.0,USA
3,C581229,23392,SPACEBOY ROCKET LOLLY MAKERS,-24,2017-12-06,2.08,12558.0,USA
4,C581229,23344,JUMBO BAG 50'S CHRISTMAS,-10,2017-12-06,2.08,12558.0,USA

In [13]:
df_raw.shape

(404714, 8)

# 2.0. Data preparation

In [14]:
# trocas os tipos
# dois dataframes, compras e retornos

In [15]:
df_raw['CustomerID'] = df_raw['CustomerID'].astype(int)

In [16]:
df_raw['InvoiceDate'] = pd.to_datetime(df_raw['InvoiceDate'])

In [17]:
df_raw.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [18]:
def coluna_para_int(dataframe: pd.DataFrame, nome_coluna: str) -> bool:
    """
    Converte a coluna especificada em um dataframe para o tipo inteiro.

    Args:
        dataframe (pd.DataFrame): O dataframe a ser processado.
        nome_coluna (str): O nome da coluna a ser convertida.

    Returns:
        bool: True se a conversão foi bem sucedida, False caso contrário.
    """
    
    if nome_coluna not in dataframe.columns:
        raise ValueError(f'Coluna {nome_coluna} nao encontrada')
        
    try:
        dataframe[nome_coluna] = dataframe[nome_coluna].astype(int)
    except:
        raise ValueError(f'Nao foi possivel converter a coluna {nome_coluna} para inteiro.')
    return True

In [19]:
coluna_para_int(df_raw, 'CustomerID')

True

In [20]:
def coluna_para_date(dataframe: pd.DataFrame, nome_coluna: str, formato_data: str = None) -> bool: 
    """
    Descricao
    
    Args:
    
    Retornos:
    """
    
    if nome_coluna not in dataframe.columns:
        raise ValueError(f'Coluna {nome_coluna} nao foi encontrada no dataframe de entrada')

    try:
        if formato_data:
            dataframe[nome_coluna] = pd.to_datetime(dataframe[nome_coluna], format=formato_data)
        else:
            dataframe[nome_coluna] = pd.to_datetime(dataframe[nome_coluna])
    except (ValueError, TypeError):
        raise ValueError(f"Could not convert column '{nome_coluna}'")

    # Retorna True se a conversão foi bem sucedida
    return True

In [21]:
def keep_features(dataframe: pd.DataFrame, keep_columns: list) -> pd.DataFrame:
    """
    Retorna um DataFrame com as colunas especificadas em keep_columns.
    
    Args:
        dataframe (pd.DataFrame): O DataFrame a ser processado.
        keep_columns (list): A lista de nomes de colunas a serem mantidas no DataFrame resultante.

    Returns:
        pd.DataFrame: O DataFrame resultante com apenas as colunas especificadas em keep_columns.
    """
    return dataframe[keep_columns]

def filtragem_features(dataframe_raw: pd.DataFrame) -> Tuple[pd.DataFrame, pd.DataFrame, pd.DataFrame]:
    """
    Descricao
    
    Args:
    
    Retornos:
    """
    df_returns = dataframe_raw.loc[dataframe_raw['Quantity'] < 0, ['CustomerID', 
                                                                   'Quantity']]
    df_purchases = dataframe_raw.loc[dataframe_raw['Quantity'] >= 0, :]
    
    # Filter main data
    df_filtered = keep_features(dataframe_raw, ['InvoiceNo', 'StockCode', 'Quantity',
                                                'InvoiceDate', 'UnitPrice', 
                                                'CustomerID', 'Country'])
    
    return df_filtered, df_purchases, df_returns

In [22]:
df_filtered, df_purchases, df_returns = filtragem_features(df_raw)

In [23]:
df_filtered.head(1)

  InvoiceNo StockCode  Quantity InvoiceDate  UnitPrice  CustomerID Country
0   C581229    85099B       -10  2017-12-06       2.08       12558     USA

In [24]:
df_purchases.head(1)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
11,581433,23358,HOT STUFF HOT WATER BOTTLE,18,2017-12-06,1.25,14911,EIRE

In [25]:
df_returns.head(1)

   CustomerID  Quantity
0       12558       -10

# 3.0. Feature engineering

In [26]:
def calculate_gross_revenue(dataframe_purchases: pd.DataFrame) -> pd.DataFrame:
    """
    Calcula a receita bruta de cada cliente com base nas colunas 'Quantity' e 'UnitPrice' e retorna
    um DataFrame com as colunas 'CustomerID' e 'gross_revenue'.

    Args:
        dataframe_purchases (pd.DataFrame): O DataFrame das compras contendo as colunas 'CustomerID', 'Quantity' e 'UnitPrice'.

    Returns:
        pd.DataFrame: O DataFrame resultante contendo as colunas 'CustomerID' e 'gross_revenue'.
    """
    # Verifica se as colunas necessárias estão presentes no DataFrame de entrada
    required_columns = {'CustomerID', 'Quantity', 'UnitPrice'}
    missing_columns = required_columns - set(dataframe_purchases.columns)
    if missing_columns:
        raise ValueError(f"O DataFrame de entrada está faltando as seguintes colunas: {missing_columns}")
    
    # Calcula a receita bruta e agrupa por CustomerID
    df = dataframe_purchases.copy()
    df.loc[:, 'gross_revenue'] = df.loc[:, 'Quantity'] * df.loc[:, 'UnitPrice']
    grouped_df = df.groupby('CustomerID').agg({'gross_revenue': 'sum'}).reset_index().copy()
    
    return grouped_df

def create_recency(dataframe_purchases: pd.DataFrame, dataframe_filtered: pd.DataFrame) -> pd.DataFrame:
    """
    Calcula a recência da última compra para cada cliente.

    Args:
        dataframe_purchases (pd.DataFrame): DataFrame com as informações de compras de todos os clientes.
        dataframe_filtered (pd.DataFrame): DataFrame filtrado apenas com as informações dos clientes que desejamos calcular a recência.

    Returns:
        pd.DataFrame: DataFrame com as colunas 'CustomerID' e 'recency_days', indicando a recência em dias da última compra para cada cliente.

    """
    required_columns = {'CustomerID', 'InvoiceDate'}
    missing_columns = required_columns - set(dataframe_purchases.columns)
    if missing_columns:
        raise ValueError(f"O DataFrame de entrada está faltando as seguintes colunas: {missing_columns}")
    # calcula a data da última compra de cada cliente
    df_recency = dataframe_purchases.loc[:, ['CustomerID', 'InvoiceDate']].groupby('CustomerID').max().reset_index()
    
    # calcula a recência em dias da última compra de cada cliente em relação à data mais recente da base de dados filtrada
    df_recency['recency_days'] = (dataframe_filtered['InvoiceDate'].max() - df_recency['InvoiceDate']).dt.days
    
    # retorna o DataFrame apenas com as colunas 'CustomerID' e 'recency_days'
    return df_recency[['CustomerID', 'recency_days']]

def create_quantity_purchased(dataframe_purchases: pd.DataFrame) -> pd.DataFrame:
    """
    Calcula a quantidade de produtos adquiridos por cada cliente.

    Args:
        dataframe_purchases (pd.DataFrame): DataFrame com as informações de compras de todos os clientes.

    Returns:
        pd.DataFrame: DataFrame com as colunas 'CustomerID' e 'qty_products', indicando a quantidade de produtos adquiridos por cada cliente.
    """
    required_columns = {'CustomerID', 'StockCode'}
    missing_columns = required_columns - set(dataframe_purchases.columns)
    if missing_columns:
        raise ValueError(f"O DataFrame de entrada está faltando as seguintes colunas: {missing_columns}")
    # agrupa as informações de compras por CustomerID e conta o número de StockCode para cada grupo
    qty_purchased = dataframe_purchases.loc[:, ['CustomerID', 'StockCode']].groupby('CustomerID').count()
    
    # renomeia a coluna StockCode para qty_products e reseta o índice para transformar o CustomerID em uma coluna
    qty_purchased = qty_purchased.reset_index().rename(columns={'StockCode': 'qty_products'})
    
    # retorna o DataFrame com as colunas 'CustomerID' e 'qty_products'
    return qty_purchased

def create_freq_purchases(dataframe_purchases: pd.DataFrame) -> pd.DataFrame:
    """
    Calculates the purchase frequency of each customer based on the purchase history.

    Parameters
    ----------
    dataframe_purchases : pd.DataFrame
        DataFrame with purchase history of each customer, containing columns CustomerID, InvoiceNo, and InvoiceDate.

    Returns
    -------
    pd.DataFrame
        DataFrame with the purchase frequency of each customer, containing columns CustomerID and frequency.
    """
    required_columns = {'CustomerID', 'InvoiceNo', 'InvoiceDate'}
    missing_columns = required_columns - set(dataframe_purchases.columns)
    if missing_columns:
        raise ValueError(f"O DataFrame de entrada está faltando as seguintes colunas: {missing_columns}")

    # Calculate time range of purchases for each customer
    df_aux = (dataframe_purchases[['CustomerID', 'InvoiceNo', 'InvoiceDate']]
              .drop_duplicates()
              .groupby('CustomerID')
              .agg(max_=('InvoiceDate', 'max'),
                   min_=('InvoiceDate', 'min'),
                   days_=('InvoiceDate', lambda x: ((x.max() - x.min()).days) + 1),
                   buy_=('InvoiceNo', 'count'))
              .reset_index())

    # Calculate frequency of purchases for each customer
    df_aux['frequency'] = df_aux[['buy_', 'days_']].apply(
        lambda x: x['buy_'] / x['days_'] if x['days_'] != 0 else 0, axis=1)

    return df_aux

def create_qty_returns(dataframe_returns: pd.DataFrame) -> pd.DataFrame:
    """
    Computes the total quantity of returned products for each customer.

    Args:
        dataframe_returns: A pandas DataFrame containing information about returns.

    Returns:
        A pandas DataFrame with the total quantity of returned products for each customer.
    """
    # Validate input data
    
    if not all(col in dataframe_returns.columns for col in ['CustomerID', 'Quantity']):
        raise ValueError("Input DataFrame must contain 'CustomerID' and 'Quantity' columns")
    
    # Compute quantity of returns
    df_returns = dataframe_returns[['CustomerID', 'Quantity']].groupby('CustomerID').sum().reset_index().rename(columns={'Quantity': 'qty_returns'})
    df_returns['qty_returns'] = df_returns['qty_returns']* -1
    
    return df_returns

def run_feature_engineering(dataframe_filtered: pd.DataFrame, dataframe_purchases: pd.DataFrame, dataframe_returns: pd.DataFrame) -> pd.DataFrame:
    """
    Performs feature engineering on the input dataframes and returns a new dataframe with the engineered features.

    Args:
        dataframe_filtered: A pandas DataFrame containing filtered customer order data.
        dataframe_purchases: A pandas DataFrame containing customer purchase data.
        dataframe_returns: A pandas DataFrame containing customer return data.

    Returns:
        A pandas DataFrame with the engineered features for each customer.
    """
    # Check if input dataframes are empty
    if dataframe_filtered.empty:
        raise ValueError("Input DataFrame 'dataframe_filtered' is empty")
    if dataframe_purchases.empty:
        raise ValueError("Input DataFrame 'dataframe_purchases' is empty")

    # Check if required columns are present in input dataframes
    required_columns = ['CustomerID', 'InvoiceDate', 'StockCode', 'Quantity', 'UnitPrice']
    for df, name in zip([dataframe_filtered, dataframe_purchases], ['dataframe_filtered', 'dataframe_purchases']):
        missing_columns = set(required_columns) - set(df.columns)
        if missing_columns:
            raise ValueError(f"Missing columns {missing_columns} in input DataFrame '{name}'")
    if 'CustomerID' not in dataframe_returns.columns:
        raise ValueError("Column 'CustomerID' not found in input DataFrame 'dataframe_returns'")
    if 'Quantity' not in dataframe_returns.columns:
        raise ValueError("Column 'Quantity' not found in input DataFrame 'dataframe_returns'")

    # Perform feature engineering
    df_fengi = keep_features(dataframe_filtered, ['CustomerID']).drop_duplicates(ignore_index=True)
    gross_revenue = calculate_gross_revenue(dataframe_purchases)
    df_recency = create_recency(dataframe_purchases, dataframe_filtered)
    df_qty_products = create_quantity_purchased(dataframe_purchases)
    df_freq = create_freq_purchases(dataframe_purchases)
    returns = create_qty_returns(dataframe_returns)

    # Merge dataframes
    dfs = [df_fengi, gross_revenue, df_recency, df_qty_products, df_freq, returns]
    df_fengi = reduce(lambda left,right: pd.merge(left, right, on='CustomerID', how='left'), dfs)

    # Fill NaN values
    df_fengi['qty_returns'] = df_fengi['qty_returns'].fillna(0)

    # Select final features and return dataframe
    features = ['CustomerID', 'gross_revenue', 'recency_days', 'qty_products', 'frequency', 'qty_returns']
    return keep_features(df_fengi, features).dropna()

In [27]:
df_fengi = run_feature_engineering(df_filtered, df_purchases, df_returns)
df_fengi.head()

,CustomerID,gross_revenue,recency_days,qty_products,frequency,qty_returns
0,12558,269.96,7.0,11.0,1.000000,196
1,14911,140450.72,1.0,5673.0,0.533512,3332
2,12437,4447.41,1.0,184.0,0.054381,5
3,12523,1699.77,19.0,102.0,0.035144,4
4,12358,928.06,1.0,17.0,0.013333,0

In [28]:
df_fengi.shape

(4329, 6)

# 4.0. EDA

In [29]:
df_eda = keep_features(df_fengi, ['gross_revenue', 'recency_days', 'qty_products', 'frequency', 'qty_returns'])
df_eda.head()

   gross_revenue  recency_days  qty_products  frequency  qty_returns
0         269.96           7.0          11.0   1.000000          196
1      140450.72           1.0        5673.0   0.533512         3332
2        4447.41           1.0         184.0   0.054381            5
3        1699.77          19.0         102.0   0.035144            4
4         928.06           1.0          17.0   0.013333            0

# 5.0. Experimentacao

## 5.1. K clusters

In [30]:
k_clusters = np.arange(2, 5, 1)
k_clusters

array([2, 3, 4])

## 5.2. Scaler

In [31]:
scaler = MinMaxScaler()

## 5.3. Algoritmos de reducao de dimensionalidade

In [32]:
def train_pca(
    scaler, dataframe: pd.DataFrame, to_scaling: bool = True, **kwargs
) -> pd.DataFrame:
    """
    Treina um modelo PCA no dataframe de entrada e aplica-o aos dados usando o scaler especificado.

    Args:
        scaler: objeto scaler para transformar os dados
        dataframe (pd.DataFrame): dataframe de entrada
        to_scaling (bool): indica se os dados devem ser escalados antes de aplicar o PCA (padrão True)
        **kwargs: argumentos adicionais para a inicialização do modelo PCA
    Raises:
        ValueError: se o dataframe de entrada estiver vazio
    """
    if dataframe.empty:
        raise ValueError("Input dataframe is empty.")

    if to_scaling:
        X = scaler.fit_transform(dataframe)
    else:
        X = dataframe.copy()
    pca = PCA(**kwargs)
    principal_components = pca.fit_transform(X)
    df_pca = pd.DataFrame(principal_components)
    return df_pca


def train_umap(
    scaler, dataframe: pd.DataFrame, to_scaling: bool = True, **kwargs
) -> pd.DataFrame:
    """ """
    if dataframe.empty:
        raise ValueError("Input dataframe is empty.")

    if to_scaling:
        X = scaler.fit_transform(dataframe)
    else:
        X = dataframe.copy()

    reducer = umap.UMAP(random_state=42, **kwargs)
    embedding = reducer.fit_transform(X)

    df_umap = pd.DataFrame()
    df_umap["embedding_x"] = embedding[:, 0]
    df_umap["embedding_y"] = embedding[:, 1]
    return df_umap


def train_tsne(
    scaler, dataframe: pd.DataFrame, to_scaling: bool = True, **kwargs
) -> pd.DataFrame:
    """ """
    if dataframe.empty:
        raise ValueError("Input dataframe is empty.")

    if to_scaling:
        X = scaler.fit_transform(dataframe)
    else:
        X = dataframe.copy()

    reducer = TSNE(random_state=42, **kwargs)
    embedding = reducer.fit_transform(X)

    df_tsne = pd.DataFrame()
    df_tsne["embedding_x"] = embedding[:, 0]
    df_tsne["embedding_y"] = embedding[:, 1]
    return df_tsne

def train_tree_embedding(scaler, dataframe: pd.DataFrame,
    target: str = "gross_revenue", **kwargs
) -> pd.DataFrame:
    """
    
    """
    
    # Separate features and target variable
    X = dataframe.drop(columns=[target], axis=1)
    X = pd.DataFrame(scaler.fit_transform(X.values), 
                     columns=X.columns, 
                     index=X.index)
    y = dataframe[target]
    
    # Define and train the model
    rf_model = RandomForestRegressor(random_state=42, **kwargs)
    rf_model.fit(X, y)

    # Compute leaf indices for each sample
    leaf_indices = rf_model.apply(X)

    # Create DataFrame with leaf indices
    df_leaf = pd.DataFrame(leaf_indices)

    return df_leaf

In [33]:
df_pca = train_pca(scaler, df_eda, n_components=2)

In [34]:
df_umap = train_umap(scaler, df_eda)

In [35]:
df_tsne = train_tsne(scaler, df_eda)

In [36]:
df_tree = train_tree_embedding(scaler, df_eda)

In [37]:
df_tree.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,2295,2068,2462,3121,2524,2453,2230,1986,2940,2907,...,2945,2277,3097,2744,1877,2974,2458,1735,1455,2442
1,5378,5448,5370,5466,5380,5500,5352,5402,5413,5477,...,5476,5414,5437,5371,5337,5388,5399,5418,5442,5450
2,4732,4989,4884,4938,4636,4657,4802,4815,4927,5099,...,4266,5153,4718,4519,4727,4792,4745,4176,5220,4770
3,4364,4891,4536,4470,4376,4498,4436,4530,2158,2105,...,1847,4483,2058,4601,3622,1884,4605,3780,4591,3903
4,103,93,212,200,149,148,88,144,207,62,...,101,126,176,62,18,84,94,177,85,126

## 5.4. Algoritmos de clusterização

In [38]:
# gmm e kmeans

def train_kmeans(dataframe: pd.DataFrame, k_clusters: list, **kwargs) -> list:
    """
    Treina o modelo KMenas para diferentes valores de k_clusters e calcula a pontuação de silhueta para cada um.

    Args:
        dataframe: um dataframe com as features de treinamento
        k_clusters: uma lista de inteiros que representa o número de clusters a serem testados
        **kwargs: argumentos adicionais para a inicialização do modelo de mistura gaussiana

    Returns:
        Uma lista de pontuações de silhueta correspondentes a cada valor de k_clusters.
    """

    silhouette_scores = []

    for k in k_clusters:
        # Model training
        kmeans_model = KMeans(n_clusters=k, random_state=42, **kwargs).fit(dataframe)

        # Model predict
        labels = kmeans_model.predict(dataframe)

        # Model performance
        silhouette = silhouette_score(dataframe, labels, metric="euclidean")
        silhouette_scores.append(silhouette)

    return silhouette_scores

def train_gmm(dataframe: pd.DataFrame, k_clusters: list, **kwargs) -> list:
    """
    
    """

    silhouette_scores = []

    for k in k_clusters:
        # Model training
        gmm_model = GaussianMixture(n_components=k, random_state=42, **kwargs).fit(dataframe)

        # Model predict
        labels = gmm_model.predict(dataframe)

        # Model performance
        silhouette = silhouette_score(dataframe, labels, metric="euclidean")
        silhouette_scores.append(silhouette)

    return silhouette_scores

In [39]:
kmeans_list = train_kmeans(df_pca, k_clusters, n_init=10)

In [40]:
gmm_list = train_gmm(df_pca, k_clusters, n_init=100)

In [41]:
k_clusters

array([2, 3, 4])

In [42]:
str(scaler)

'MinMaxScaler()'

In [43]:
df_results_pca = pd.DataFrame({
                                'scaler': str(scaler),
                                'Reducer': 'PCA',
                                'Clusters': k_clusters,
                                'KMeans': kmeans_list,
                                'GMM': gmm_list,
                                })
df_results_pca

           scaler Reducer  Clusters    KMeans       GMM
0  MinMaxScaler()     PCA         2  0.729026 -0.116664
1  MinMaxScaler()     PCA         3  0.655202  0.486397
2  MinMaxScaler()     PCA         4  0.579911  0.352297

In [44]:
gmm_list = train_gmm(df_umap, k_clusters, n_init=10)
kmeans_list = train_kmeans(df_umap, k_clusters, n_init=100)

results_umap = pd.DataFrame({    'scaler': str(scaler),
                  'Reducer': 'UMAP',
                  'Clusters': k_clusters,
                  'GMM': gmm_list,
                  'KMeans': kmeans_list})
results_umap

           scaler Reducer  Clusters       GMM    KMeans
0  MinMaxScaler()    UMAP         2  0.435505  0.448095
1  MinMaxScaler()    UMAP         3  0.499307  0.514281
2  MinMaxScaler()    UMAP         4  0.423175  0.481398

In [45]:
df_leaf = train_tree_embedding(scaler, df_eda, n_jobs=-1, n_estimators=100)

df_tree_tsne = train_tsne(scaler, df_leaf, to_scaling=False)
gmm_list_tree_tsne = train_gmm(df_tree_tsne, k_clusters, n_init=100)
kmeans_list_tree_tsne = train_kmeans(df_tree_tsne, k_clusters, n_init=100)
df_results_tree_tsne = pd.DataFrame( {
                  'scaler': str(scaler),
                  'Reducer': 'Tree Embedding + t-SNE',
                  'Clusters': k_clusters,
                  'GMM': gmm_list_tree_tsne,
                  'KMeans': kmeans_list_tree_tsne})

In [46]:
df_results_tree_tsne

           scaler                 Reducer  Clusters       GMM    KMeans
0  MinMaxScaler()  Tree Embedding + t-SNE         2  0.354728  0.356290
1  MinMaxScaler()  Tree Embedding + t-SNE         3  0.356579  0.388011
2  MinMaxScaler()  Tree Embedding + t-SNE         4  0.327865  0.411892

In [47]:
df_tree_pca = train_pca(scaler, df_leaf, to_scaling=False)
gmm_list_tree_pca = train_gmm(df_tree_pca, k_clusters, n_init=100)
kmeans_list_tree_pca = train_kmeans(df_tree_pca, k_clusters, n_init=100)
df_results_tree_pca = pd.DataFrame( {
                  'scaler': str(scaler),
                  'Reducer': 'Tree Embedding + PCA',
                  'Clusters': k_clusters,
                  'GMM': gmm_list_tree_pca,
                  'KMeans': kmeans_list_tree_pca})
df_results_tree_pca

           scaler               Reducer  Clusters       GMM    KMeans
0  MinMaxScaler()  Tree Embedding + PCA         2  0.417715  0.484985
1  MinMaxScaler()  Tree Embedding + PCA         3  0.474646  0.480800
2  MinMaxScaler()  Tree Embedding + PCA         4  0.477363  0.434180

In [48]:
df_final_results = pd.concat([df_results_pca, results_umap, df_results_tree_tsne, df_results_tree_pca], axis=0)
df_final_results

           scaler                 Reducer  Clusters    KMeans       GMM
0  MinMaxScaler()                     PCA         2  0.729026 -0.116664
1  MinMaxScaler()                     PCA         3  0.655202  0.486397
2  MinMaxScaler()                     PCA         4  0.579911  0.352297
0  MinMaxScaler()                    UMAP         2  0.448095  0.435505
1  MinMaxScaler()                    UMAP         3  0.514281  0.499307
2  MinMaxScaler()                    UMAP         4  0.481398  0.423175
0  MinMaxScaler()  Tree Embedding + t-SNE         2  0.356290  0.354728
1  MinMaxScaler()  Tree Embedding + t-SNE         3  0.388011  0.356579
2  MinMaxScaler()  Tree Embedding + t-SNE         4  0.411892  0.327865
0  MinMaxScaler()    Tree Embedding + PCA         2  0.484985  0.417715
1  MinMaxScaler()    Tree Embedding + PCA         3  0.480800  0.474646
2  MinMaxScaler()    Tree Embedding + PCA         4  0.434180  0.477363

## 5.6. Salvando os resultados

In [49]:
def salvar_no_bigquery(dataframe: pd.DataFrame,
                      project_name: str,
                      dataset_table_name: str):
    client = bigquery.Client(project=project_name)
    
    job = client.load_table_from_dataframe(dataframe, dataset_table_name)
    job.result()

In [50]:
salvar_no_bigquery(df_final_results,
                  project_name='vertex-comunidadeds',
                  dataset_table_name='dados_ecommerce_cds.resultados_clustering')